<div class="authform">
  <%= simple_form_for(@user) do |f| %>
    <div class="form-inputs">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.input :email %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>
      <% if current_page?(new_user_path) %>
        <%= f.submit 'Sign up', :class => 'button right' %>
      <% else %>
        <%= f.submit 'Save', :class => 'button right' %>
      <% end %>
      <%= link_to "", sign_in_with_twitter_path, class: "fa fa-twitter" %>
      <%= link_to "", sign_in_with_facebook_path, class: "fa fa-facebook" %>
      <!-- TODO: Google+ OAuth <%#= link_to "", root_path, class: "fa fa-google-plus" %> -->
     </div>
  <% end %>
</div>
