<p id="notice"><%= notice %></p>
<div class="container">
<br />
<h3> Summary for <%= "#{current_user.full_name}" %></h3>
<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= display_user_email %>
</p>
</div>
<div class="text-center">
  <canvas id="user-streak" width="300" height="300"></canvas>
  <%= line_chart @data, @options %>
</div>
