<div class="authform">
  <%= simple_form_for(@challenge) do |f| %>
    <div class="form-inputs">
      <%= f.input :name %>
      <%= f.input :description %>
      <%= f.input :start_date, as: :datetime_picker, minDate: Date.tomorrow, input_html: {id: 'date' } %>
      <%= f.association :team, collection: @teams %>
    </div>
    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
