<div class="container">
  <p>
    <strong>Challenge:</strong>
    <%= @challenge.name %>
  </p>

  <p>
    <strong>Challenge Description:</strong>
    <%= @challenge.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @challenge.start_date %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= @challenge.team.name %>
  </p>
  <p>
    <strong>Streak:</strong>
    <%= @streak_count %>
  </p>
  <%= link_to 'Edit', edit_challenge_path(@challenge) %>
</div>
