<%= include_gon(:init => true) %>
<div class="container">
  <p>
    <strong>Challenge:</strong>
    <%= @challenge.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @challenge.description %>
  </p>

  <p>
    <strong>Start date:</strong>
    <%= @challenge.start_date %>
  </p>

  <p>
    <strong>Team:</strong>
    <%= @challenge.team.name %>
  </p>
  <p>
    <% if @challenge.reward %>
      <strong>Reward:</strong>
      <%= @challenge.reward %>
    <% end %>
  </p>
  <hr />
  <div id="user-streak-count">
    <%= render "/challenge_actions/streak"  %>
  </div>
</div>
