<%= include_gon(:init => true) %>
<div class="container-challenges">
  <br />
    <div class="challenge-info col-md-3 col-md-offset-1 col-sm-12">
      <h1> <%= @challenge.name %> </h1><br />
      <p> <%= @challenge.description %> </p>
      <p> <strong>Start Date: </strong> <%= @challenge.start_date %>  </p>
      <p><strong>Team: </strong><%= @challenge.team.name %>  </p>
      <p>
        <% if @challenge.reward.length > 0 %>
          <strong>Reward: </strong>
          <%= @challenge.reward %>
        <% end %>
      </p>
      <div id="avg-score">
       <strong>Average Streak: </strong><%= "#{@avg_streak.round(2)}" %>
      </div>
      <br />
      <div id="lead-player">
       <% if @leading_player %>
        <strong>Leading Player: </strong><%= "#{@leading_player.full_name}" %>
       <% end %>
      </div>
      <br />
      <span>
        <% if check_track_date %>
          <%= link_to "COMPLETE", challenge_update_action_path(@challenge, @challenge_action), method: :patch, class: 'btn btn-danger button-color' %>
        <% else %>
          <%= link_to "Already tracked!", nil, class: 'btn btn-success disabled button-color' %>
        <% end %>
      </span>
    </div>
    <br />
    <br />
    <div class="table-chart col-md-4 col-sm-12">
      <table class="table table-stats">
        <tbody>
          <thead>
            <tr>
              <th style="border-top: none"> Player Name  </th>
              <th style="border-top: none"> Total Streak </th>
            </tr>
          </thead>
          <tbody>
            <%= render "challenge_actions/streak" %>
          </tbody>
        </tbody>
      </table>
    </div>
    <!-- Team Chart -->
    <div class="text-center">
      <canvas id="team-streak" width="300" height="300"></canvas>
    </div>
</div>
<%= javascript_include_tag 'teamStreak' %>
