<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Ya Snooze Ya Lose" %></title>
    <%= Gon::Base.render_data %>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.1/animate.min.css">
    <link href='https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic|Hind:400,700,600,500,300' rel='stylesheet' type='text/css'>
    <%= favicon_link_tag 'favicon-clock-o.ico' %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' unless current_page?(root_path) %>
    </header>
      <%= render 'layouts/messages' %>
      <%= yield %>
  </body>
</html>
